.background {
  background-color: #FFF0EB;
}

.main {
  height: 50%;
  min-width: 95vh;
  margin: 20vh auto 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "left_panel_area right_panel_area";
  column-gap: 20px;
}

.wrapper .left_panel {
  grid-area: left_panel_area;
}

.wrapper .right_panel {
  grid-area: right_panel_area;
}

.text_box {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 6px 12px
}